:root {
    --background-colour: #f9f9ed;
}

body {
    background-color: var(--background-colour);
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-colour);
    image-rendering: pixelated;
    z-index: -1;
}

.load-shield {
    background-color: var(--background-colour);
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes info-container {
    from {opacity: 1}
    to {opacity: 0}
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 400%;
    text-align: center;
    opacity: 0;
    animation: info-container 5s;
}